/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
	.bmUtil-hide{
		display:none !important;
		visibility: hidden !important;
	}
	.logo{
		margin-top:20px;
		display:block;
	}
	.subtext {
    	color: #E53B2C;
   		font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,"Lucida Grande",sans-serif;
    	font-size: 0.9em;
    	font-weight: bold;
    	margin-left: 160px;
    	position: absolute;
    	top: 108px;
	}
	.bmTop-Panel{
		font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,"Lucida Grande",sans-serif;
	}
	.bmTop-Panel .columns{

	}
	.four.columns .panel{
	height:200px;
	overflow:hidden;
	}
	.topbarblock{
	font-size:12px;
	}
	.topbarblock h6{
	font-size:14px;
	font-weight:bold;
	line-height:auto;
	color:#555;
	}
	@media only screen and (max-width: 767px) {
		.four.columns .panel{
		height:auto;
		overflow:auto;
		}
	}
	.header{
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2M3ZWFmNCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzhiZDNlOCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MGI3ZDkiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 1%, rgba(199,234,244,0.05) 30%, rgba(139,211,232,0.15) 61%, rgba(64,183,217,0.3) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,0)), color-stop(30%,rgba(199,234,244,0.05)), color-stop(61%,rgba(139,211,232,0.15)), color-stop(100%,rgba(64,183,217,0.3))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(199,234,244,0.05) 30%,rgba(139,211,232,0.15) 61%,rgba(64,183,217,0.3) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(199,234,244,0.05) 30%,rgba(139,211,232,0.15) 61%,rgba(64,183,217,0.3) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(199,234,244,0.05) 30%,rgba(139,211,232,0.15) 61%,rgba(64,183,217,0.3) 100%); /* IE10+ */
		background: linear-gradient(top,  rgba(255,255,255,0) 1%,rgba(199,234,244,0.05) 30%,rgba(139,211,232,0.15) 61%,rgba(64,183,217,0.3) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4d40b7d9',GradientType=0 ); /* IE6-8 */

		margin-left:-10px;
		padding-left:10px;
		padding-right:10px;
	}
	
	.body{
	margin-top:15px;
	}
	@media only screen and (max-width: 767px) {
		.header{
			background:none;
		}
	}
	.row.footer{
		border-top:3px solid #40B7D9;
		padding:0px 10px;
		margin-left:-10px;
		background-color:#e2e2e2;
	}
	.row.footer ul{
		margin-bottom:0px;
	}
	.row.footer li{
		margin-top:5px;
		margin-bottom:5px;
	}
	.util-left{text-align:left;}
	.util-center{text-align:center;}
	.util-right{text-align:right;}
	.util-padright{padding-right:15px;}
	.util-padleft{padding-left:15px;}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */
.offer-one, .offer-two, .offer-three, .offer-four{margin-bottom:10px;}
.offer-one{margin-top:10px;}
.offer{display:block;font-size:13px;font-weight: bold;}
.restriction{display:block;font-size:10px;color:#666;}
.reveal-modal .closeBTN .close-reveal-modal{
	background: transparent url('../images/icons.png');
	background-position: -54px 0px;
	color: #AAAAAA;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    line-height: 10;
    position: absolute;
    right: 11px;
    top: 8px;	
    width:27px;
    height:24px;
    overflow:hidden;
}
.printBTN{
	background: transparent url('../images/icons.png');
	background-position: 0px 0px;
	color: #AAAAAA;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    line-height: 10;
    position: absolute;
    left: 11px;
    top: 8px;	
    width:27px;
    height:24px;
    overflow:hidden;

}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


